<div class="content">
    <div class="text-content">
        <h2>{{livro}} {{capitule}}</h2>
        <div class="verse" *ngFor="let x of versicules">
            <p><span class="id_verse">{{x.ver_versiculo}}.</span> {{x.ver_texto}}</p>
        </div>
    </div>
    <div class="search-content">
        <h2>Capítulos</h2>
        <div class="navigation">
            <div class="box" *ngFor="let x of capitulos">
                <a class="livro" [routerLink]="['/' + version + '/' + book + '/' + x.ver_capitulo]" (click)="scrollTop()">{{x.ver_capitulo}}</a>
            </div>
        </div>
    </div>
    <div class="buttons">
        <div class="buttons-content">
            <button mat-mini-fab color="primary" (click)="previous()">
                <mat-icon>keyboard_arrow_left</mat-icon>
            </button>
            <button mat-mini-fab color="primary" (click)="next()">
                <mat-icon>keyboard_arrow_right</mat-icon>
            </button>
        </div>
    </div>
</div>
<app-loading [isLoading]="loading"></app-loading>