
.content {
    display: grid;
    grid-template-columns: 57% 43%;
    width: 100%;
}
.verse {
    font-weight: 300;
}
.id_verse{
    font-style: italic;
    color: rgb(58, 58, 58);
}
.buttons{
    position: fixed;
    z-index: 2;
    left: 0;
    bottom: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.buttons-content{
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.navigation{
    padding-bottom: 3rem;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: repeat(20, 10%);
}
.livro{
    overflow: hidden;
    color: #3a8ed7;
    text-align: center;
}
.box{
    display: flex;
    align-items: center;
    justify-content: center;
}
.example-full-width {
    width: 100%;
}
.text-content{
    padding: 1rem;
}
.search-content{
    padding: 1rem;
}