
<mat-drawer-container class="container" autosize>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <h2 (click)="goToLivros()" class="sidebar-item" class="title">Bíblia Sagrada</h2>
      <span class="spacer"></span>
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-drawer #drawer class="sidenav" mode="over">
    <div (click)="goToLivros()" class="sidebar-item">
      <mat-icon>book</mat-icon>
      <a>Livros</a>
    </div>
    <div (click)="goToVersoes()" class="sidebar-item">
      <mat-icon>bookmark</mat-icon>
      <a>Versões</a>
    </div>
  </mat-drawer>
  <router-outlet></router-outlet>
</mat-drawer-container>
