.spacer{
  flex: 1 1 auto;
}
.container {
  height: 100vh;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.sidenav {
  background-color:#3F51B5;
  color: #fff;
  padding: 10px;
}
.sidebar-item{
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 4rem 1rem 4rem 1rem;
    font-size: 20px;
}

@media (max-width: 800px) {
}

@media (min-width: 800px) {
  .title{
    padding-left: 3rem;
  }
}