.container{
    margin: 3rem;
    display: flex;
    justify-content: space-around;
}
.link{
    color: #3a8ed7;
    font-size: 16px;
    padding: 0.5rem;
}
.column{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}
.item{
    padding-left: 3rem;
}